# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android
*.keystore
*.jks
local.properties
android/.gradle/
android/captures/
android/.externalNativeBuild/
android/.cxx/
android/key.properties

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IntelliJ / Android Studio
.idea/
*.iml

# macOS
.DS_Store

# env
.env
